body {
    background-color: skyblue;
    color: black;
}

#sanfran {
    height: 50%;
    width: 50%;
    float: right;
    border-radius: 50%;
}

#header {
    font-size: 50px;
}

.info {
    padding-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

#downtown {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    float: left;
}

#chocolate {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    float: right;
}

#closing-message {
    color: palevioletred;
    text-align: center;
    font-size: 24px;
}
